In [78]:
#Generates a .csv file from data from https://simplemaps.com/data/gb-cities
#Note - this code is specific to this website
import csv
file = open("gb.csv")
reader = csv.reader(file)
lines = len(list(reader))
file.close()
file = open("List of cities.csv", "w")
file.close()
for row in range(1,lines-1):
    file = open("gb.csv")
    reader = csv.reader(file)
    cityName = list(reader)[row][0]
    file.close()
    file = open("List of cities.csv", "a")
    file.write(cityName + ",")
    file.close()

file = open("gb.csv")
reader = csv.reader(file)
cityName = list(reader)[lines-1][0]
file.close()
file = open("List of cities.csv", "a")
file.write(cityName)
file.close()

In [60]:
#main
import csv
file = open("List of cities.csv", "r")
reader = csv.reader(file)
l = list(reader) #creates an array of cities
file.close()

file = open("failedQueries.txt", "w") #deletes file if already exists
file.close()

deleteDB() #deletes contents of db table if already exists

import requests

for i in range(0,100): #len(l[0])
    geoJ = getGeoJ(i)
    tempGeoJ = geoJ #stores the geoJ string in a temporary variable which is changed throughout the loop
    fail = True
    while True:
        start = tempGeoJ.find("{'type': 'Polygon', 'coordinates': [[") #This substring depends on the format of the geoJ file! e.g. "" may be used instead of ''
        if start == -1:
            start = tempGeoJ.find("{'type': 'MultiPolygon', 'coordinates': [[")
        end = tempGeoJ.find("]]}") + 3
        if start == -1: 
            if fail == True: 
                failLog()
            break
                
        displayName = getDisplayName(tempGeoJ)
        print(displayName)
        region = getRegion(displayName)
        cityName = getCityName(displayName)
        parsedGeoJ = tempGeoJ[start:end] #creates parsed geoJ file
        file = open("C:/Users/Toan/Documents/CityGeoJSON/United Kingdom/GeoJSON files/" + displayName + ".json", "w") 
        file.write(parsedGeoJ)
        file.close()
        insertDB(cityName, region, displayName)
        tempGeoJ = tempGeoJ[end:]
        fail = False #If the loop has executed at least once without a failure, it does not need to be logged as a failure.

London, Greater London, England, United Kingdom
City of London, Greater London, England, United Kingdom
Birmingham, West Midlands Combined Authority, West Midlands, England, United Kingdom
Manchester, Greater Manchester, North West England, England, United Kingdom
Leeds, West Yorkshire, Yorkshire and the Humber, England, United Kingdom
Leeds, Maidstone, Kent, South East England, England, United Kingdom
Newcastle upon Tyne, Tyne and Wear, North East England, England, United Kingdom
Newcastle-under-Lyme, Staffordshire, West Midlands, England, United Kingdom
Birstall, Charnwood, Leicestershire, East Midlands, England, United Kingdom
Liverpool, North West England, England, United Kingdom
Portsmouth, South East England, England, United Kingdom
Southampton, South East England, England, United Kingdom
City of Nottingham, Nottinghamshire, East Midlands, England, United Kingdom
Bristol, City of Bristol, South West England, England, United Kingdom
Sheffield, Yorkshire and the Humber, England, United Kingdom
City of Edinburgh, Scotland, United Kingdom
Stoke-on-Trent, West Midlands, England, United Kingdom
Coventry, West Midlands Combined Authority, West Midlands, England, United Kingdom
Reading, South East England, England, United Kingdom
Plymouth, South West England, England, United Kingdom
Wolverhampton, West Midlands Combined Authority, West Midlands, England, United Kingdom
Milton Keynes, South East England, England, United Kingdom
Aberdeen City, Scotland, United Kingdom
Norwich, Norfolk, East of England, England, United Kingdom
Swindon, South Staffordshire, Staffordshire, West Midlands, England, United Kingdom
Swindon, Swindon Village, Cheltenham, Gloucestershire, South West England, England, United Kingdom
London Borough of Croydon, London, Croydon, Greater London, England, United Kingdom
Croydon, South Cambridgeshire, Cambridgeshire, East of England, England, United Kingdom
Basildon, Essex, East of England, England, United Kingdom
Basildon, West Berkshire, South East England, England, United Kingdom
Worthing, West Sussex, South East England, England, United Kingdom
Ipswich, Suffolk, East of England, England, United Kingdom
Middlesbrough, North East England, England, United Kingdom
Sunderland, North East England, England, United Kingdom
Warrington, Milton Keynes, South East England, England, United Kingdom
Slough, South East England, England, United Kingdom
Oxford, Oxfordshire, South East England, England, United Kingdom
Poole, Cheshire East, North West England, England, United Kingdom
London Borough of Harrow, London, Harrow, Greater London, England, United Kingdom
St Albans, Hertfordshire, East of England, England, United Kingdom
St Albans, Hertfordshire, East of England, England, United Kingdom
St. Albans, Arnold, Gedling, Nottinghamshire, East Midlands, England, United Kingdom
Brighton, Brighton and Hove, South East England, England, United Kingdom
Bolton, Greater Manchester, North West England, England, United Kingdom
Bolton, Eden, Cumbria, North West England, England, United Kingdom
Bolton, County Armagh, Northern Ireland, United Kingdom
Newport, Gwent, Cymru  Wales, United Kingdom
Newport, Carisbrooke, Isle of Wight, South East England, England, United Kingdom
Newport, Uttlesford, Essex, East of England, England, United Kingdom
High Wycombe, Buckinghamshire, South East England, England, United Kingdom
Exeter, Devon, South West England, England, United Kingdom
Solihull, West Midlands Combined Authority, West Midlands, England, United Kingdom
Preston, Lancashire, North West England, England, United Kingdom
Preston, North Hertfordshire, Hertfordshire, East of England, England, United Kingdom
Preston, Dover, Kent, South East England, England, United Kingdom
Gateshead, Tyne and Wear, North East England, England, United Kingdom
Blackburn, Aberdeenshire, Scotland, United Kingdom
Cheltenham, Gloucestershire, South West England, England, United Kingdom
Basingstoke, Basingstoke and Deane, Hampshire, South East England, England, United Kingdom
Maidstone, Kent, South East England, England, United Kingdom
Colchester, Essex, East of England, England, United Kingdom
Chelmsford, Essex, East of England, England, United Kingdom
Doncaster, Yorkshire and the Humber, England, United Kingdom
Rotherham, Yorkshire and the Humber, England, United Kingdom
Rochdale, Greater Manchester, North West England, England, United Kingdom
Crawley, West Sussex, South East England, England, United Kingdom
Crawley, West Oxfordshire, Oxfordshire, South East England, England, United Kingdom
Crawley, Winchester, Hampshire, South East England, England, United Kingdom
Crawley, Powburn, Northumberland, North East England, England, NE66 4JA, United Kingdom
Mansfield, Nottinghamshire, East Midlands, England, United Kingdom
Stockport, Greater Manchester, North West England, England, United Kingdom
Fyfield, Wiltshire, South West England, England, United Kingdom
Fyfield, Epping Forest, Essex, East of England, England, United Kingdom
Fyfield, Test Valley, Hampshire, South East England, England, United Kingdom
Gillingham, Medway, South East England, England, United Kingdom
Gillingham, South Norfolk, Norfolk, East of England, England, United Kingdom
Gillingham, Dorset, South West England, England, United Kingdom
Salford, Greater Manchester, North West England, England, United Kingdom
Salford, West Oxfordshire, Oxfordshire, South East England, England, United Kingdom
Eastbourne, East Sussex, South East England, England, United Kingdom
Wigan, Greater Manchester, North West England, England, United Kingdom
St Helens, North West England, England, United Kingdom
St. Helens, Isle of Wight, South East England, England, United Kingdom
St Helen's, Tresco, Old Grimsby, Isles of Scilly, South West England, England, United Kingdom

ProgrammingError: ('42000', "[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Incorrect syntax near 's'. (102) (SQLExecDirectW); [42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Unclosed quotation mark after the character string ',SINGLE_CLOB) AS DATA;\n                    '. (105); [42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Statement(s) could not be prepared. (8180)")

In [57]:
def getDisplayName(tempGeoJ): #This finds the name of the city, which the file is named after
    dNameIndexes = []
    index = 0
    while index != -1:
        index = tempGeoJ.find("display_name", index+1)
        dNameIndexes.append(index) #Creates a list of indexes of all instances of "display_name" within tempGeoJ
    dNameIndexes.remove(-1)
    dNameIndexes.append(len(tempGeoJ))
    displayName = ""
    
    indexN = 0
    currentIndex = dNameIndexes[0]
    nextIndex = dNameIndexes[1]
    foundPolygon = False
    
    while currentIndex != (len(tempGeoJ)) and foundPolygon == False:
        if ("Polygon" in (tempGeoJ[currentIndex:nextIndex])) or ("MultiPolygon" in (tempGeoJ[currentIndex:nextIndex])):
            displayName = ""
            nameStart = currentIndex + 16
            char = tempGeoJ[nameStart] 
            if tempGeoJ[currentIndex + 15] == "'":
                while char != "'":
                    if char != "/":                
                        displayName = displayName + char
                    nameStart += 1
                    char = tempGeoJ[nameStart] 
                foundPolygon = True
            elif tempGeoJ[currentIndex + 15] == '"': #This is required since some display names have a ' within the name, so it gets cut short.
                while char != '"':
                    if char != "/":                
                        displayName = displayName + char
                    nameStart += 1
                    char = tempGeoJ[nameStart] 
                foundPolygon = True
        else:
            indexN += 1
            currentIndex = dNameIndexes[indexN]
            try:
                nextIndex = dNameIndexes[indexN+1]
            except IndexError:
                break
    return displayName

In [12]:
def getRegion(displayName): #fetches the part of the display name between the first two commas
    region = ""
    for i in range(len(displayName)):
        if displayName[i] == ",":
            x = 1
            while displayName[i+x] != ",":
                region = region + displayName[i+x]
                x = x+1
            break
    return region

In [13]:
def getCityName(displayName): #fetches the part of the display name up until the first comma
    cityName = ""
    i = 0
    while displayName[i] != ",":
        cityName = cityName + displayName[i]
        i = i+1
    return cityName

In [14]:
def getGeoJ(i):
    searchCity = l[0][i]  #As it is from a .csv file, the array is 2D, i.e. [[London,Birmingham...,Broughton]] - hence 2 indexes are required
    api_url = "https://nominatim.openstreetmap.org/search.php?city=" + searchCity + "&country=United+Kingdom&polygon_geojson=1&format=json"
    response = requests.get(api_url) #retrieves geoJSON file from Nominatim API
    return str(response.json())

In [15]:
def failLog():
    file = open("failedQueries.txt", "a")
    file.write(l[0][i])
    file.write(geoJ)
    file.write("\n")
    file.write("Error: Request did not return Polygon")
    file.write("\n")
    file.close()

In [16]:
def insertDB(cityName, region, fileName):
    import pyodbc

    filePath = "'C:\\Users\\Toan\\Documents\\CityGeoJSON\\United Kingdom\\GeoJSON files\\" + fileName + ".json'"
    
    conn = pyodbc.connect('Driver={SQL Server};'
                          'Server=HUNG-LAPTOP\TOAN;'
                          'Database=CityGeoJSON;'
                          'Trusted_Connection=yes;')

    cursor = conn.cursor()

    try:
        cursor.execute('''
                    INSERT INTO CityGeoJSON.dbo.CityGeoJSON (CountryName, CountryIsoCode, Region, CityName, GeoJson)
                    SELECT 'United Kingdom', 'GBR', ?, ?, * FROM OPENROWSET(BULK ''' + filePath + ''',SINGLE_CLOB) AS DATA;
                    ''',
                   (region, cityName)
                  )
    except pyodbc.IntegrityError:
        file = open("failedQueries.txt", "a")
        file.write(cityName + region)
        file.write(parsedGeoJ)
        file.write("\n")
        file.write("Error: Duplicate city+region")
        file.write("\n")
        file.close()
        
    conn.commit()

In [17]:
def deleteDB():
    import pyodbc
    
    conn = pyodbc.connect('Driver={SQL Server};'
                          'Server=HUNG-LAPTOP\TOAN;'
                          'Database=CityGeoJSON;'
                          'Trusted_Connection=yes;')
    

    cursor = conn.cursor()
    
    cursor.execute('''
                    DELETE CityGeoJSON.dbo.CityGeoJSON
                    ''')
    conn.commit()

In [59]:
displayName

"St Helen's, Tresco, Old Grimsby, Isles of Scilly, South West England, England, United Kingdom"